<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>Invoice</h5>
      <button (click)="closeDialog()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <form cForm [formGroup]="invoiceForm">
            <div class="mb-3">
                <label cLabel>LPO</label>
                <select cSelect formControlName="lpoCode">
                  @for(item of lpoList; track item) {
                    <option [value]="item.lpoCode">{{item.lpoName}}</option>
                  }
                </select>
            </div>
            <div class="mb-3">
                <label cLabel>Year</label>
                <select cSelect formControlName="year">
                  @for(item of yearList; track item) {
                    <option [value]="item">{{item}}</option>
                  }
                </select>
            </div>
            <div class="mb-3">
                <label cLabel>Month</label>
                <select cSelect formControlName="month">
                  @for(item of monthList; track item; let i = $index) {
                    <option [value]="i">{{item}}</option>
                  }
                </select>
              </div>
        </form>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="closeDialog()" cButton color="secondary">
        Close
      </button>
      <button cButton color="primary" (click)="generateInvoice()" [disabled]="invoiceForm.invalid">Generate Invoice</button>
    </c-modal-footer>
  </c-modal>